.container-box	{ width:720px; border:1px solid #3a3a3a; box-shadow: 6px 6px 3px #888888; margin:auto auto; }
.upper-box			{ background-color:#2c508a; text-align:center; padding:15px; }
.lower-box			{ background-color:#eeeeee; text-align:center; padding:15px; }
.navi-box				{ height:30px; background-color:#3a3a3a; text-align:center; padding:5px; }
body	{ background: linear-gradient(#cccccc 70%, #3a3a3a); background-attachment: fixed; }
h1		{ font: 40px helvetica neue; font-weight:bold; color:#ffffff; }
p			{ font: 14px helvetica neue; }
